<ul id="navigationlinks">
    <li> @Html.ActionLink(Resources.SGFResource.IndexPageTitle, "Index", "Home") </li>
    <li> @Html.ActionLink(Resources.SGFResource.RegisterMovementPageTitle, "RegisterMovement", "Home") </li>
    <li> @Html.ActionLink(Resources.SGFResource.ReportsPageTitle, "Reports", "Home") </li>
    <li> @Html.ActionLink(Resources.SGFResource.AccountsPageTitle, "Accounts", "Home") </li>
</ul>